<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outerdivext">
    <div class="progress-indicator">
        <img src="img/2.gif" alt="Loading data..">
    </div>
    <div>
        <br/>
        <div class="col-lg-8">
            <form>
                <div class="form-group">
                    <label for="name">Text:</label>
                    <input type="name" class="form-control" id="name" placeholder="Enter text" ng-model='form.text'>
                </div>
                
                <button type="button" class="btn btn-default" ng-click="btnsubmit()">Submit</button>
                <br/>
                <br/>
                <div style="min-height: 30px;text-align: center;" ng-if="form.isShow" id="errorMsg"> 
                    <span style="color:black">{{form.msg}}</span>
                </div>
            </form>
        </div>
    </div>
</div>
